.aside {
    background: #fff;
    border-right: 1px solid #000;
    &__container {
        padding: 34px 94px 0 0;  
    }
    &__items {
        display: flex;
        flex-direction: column;
    }
    &__item {
        max-width: 178px;
        &:not(:last-child) {
            margin-bottom: 25px;
        }
    }
    &__link {
        font-size: 20px;
        line-height: 22px;
        letter-spacing: 0.01em;       
        color: #000;
    }
}

.aside__link svg {
    padding-right: 13px;
}